$orange_ffa: #ffab08;
$orange_ff7: #ff7020;
$orange_f86: #f86310;

$white_ff: #ffffff;
$white_f9: #f9f9f9;
$grey_b1: #b1b1b1;
$grey_f2: #f2f2f3;

.d-none {
  display: none;
}

@mixin text1 {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
}

@mixin text2 {
  font-size: 16px;
  font-weight: 400;
}

body {
  margin: 0;
  background-color: $white_f9;

  header {
    background-image: url("data:image/svg+xml,%3Csvg id='header' width='200' height='200' viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg' %3E%3Ccircle cx='100' cy='100' r='100' fill='%23FFAB08' /%3E%3C/svg%3E");
    background-size: 610px 610px;
    background-position: bottom;
    background-repeat: no-repeat;

    padding-bottom: 30px;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 500px) {
      background-size: 1000px 1000px;
      padding-bottom: 44px;
    }

    @media (min-width: 768px) {
      background-size: 2540px 2540px;
      padding-bottom: 44px;
    }

    @media (min-width: 1024px) {
      padding-bottom: 63px;
    }

    .logo {
      width: 150px;
      height: 30px;
      color: $white_ff;
      margin: 24px 0;
    }

    .not-logo {
      display: flex;
      flex-direction: column-reverse;

      @media (min-width: 768px) {
        flex-direction: row;
      }

      img {
        width: 230px;
        height: 230px;

        @media (min-width: 1024px) {
          width: 326px;
          height: 326px;
        }
      }

      .info {
        @media (min-width: 768px) {
          margin-top: 27px;
          text-align: left;
        }

        .creed {
          font-weight: 800;
          font-size: 30px;
          line-height: 36px;

          @media (min-width: 768px) {
            font-size: 36px;
            line-height: 43px;
          }

          @media (min-width: 1024px) {
            font-size: 50px;
            line-height: 60px;
          }

          &.creed1 {
            color: $white_ff;
          }
          &.creed2 {
            color: $orange_ff7;
          }
        }
        .discount {
          color: $white_ff;
          font-size: 12px;
          line-height: 16px;

          margin-top: 16px;
          margin-bottom: 19px;

          @media (min-width: 768px) {
            margin-top: 26px;
          }

          @media (min-width: 1024px) {
            font-size: 16px;
            line-height: 22px;
            margin-top: 52px;
          }
        }
      }
    }
  }

  main {
    .categories {
      display: flex;
      flex-direction: row;
      column-gap: 24px;
      row-gap: 10px;
      margin: 40px 75px;
      flex-wrap: wrap;
      justify-content: center;

      span {
        @include text2;

        display: flex;
        flex-direction: row;
        align-items: center;
        line-height: 22px;
        text-align: left;
        background-color: $white_ff;
        padding: 9px 14px;
        border-radius: 50px;
        white-space: nowrap;

        &:hover {
          background-color: $orange_ffa;
        }

        img {
          margin-right: 8px;
        }
      }
    }

    .active-category-title {
      font-size: 40px;
      font-weight: 600;
      line-height: 48px;
      text-align: left;
    }

    .main-section {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      gap: 30px;
      margin: 0 75px 100px;

      .cart {
        min-width: max(300px, 20%);
        margin-top: 48px;
        padding: 16px;
        background-color: $white_ff;
        border-radius: 18px;

        .top-section {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          border-bottom: 1px solid $grey_f2;
          padding-bottom: 12px;

          .title {
            font-size: 24px;
            font-weight: 600;
            line-height: 24px;
            text-align: left;
          }
          .quantity {
            padding: 2px 16px;
            background-color: $grey_f2;
            border-radius: 6px;
          }
        }

        .items-section {
          margin-bottom: 16px;

          .item {
            display: flex;
            flex-direction: row;
            gap: 6px;
            align-items: center;
            padding: 16px 0;
            border-bottom: 1px solid $grey_f2;

            img {
              width: 64px;
              height: 50px;
            }

            .description {
              flex-grow: 1;
              @include text1;

              .weight {
                color: $grey_b1;
              }
              .price {
                text-align: left;
              }
            }
            .counter {
              border-radius: 12px;
              background-color: $grey_f2;
              white-space: nowrap;

              .control {
                padding: 9px 12px;
                background-color: $grey_f2;
                display: inline-block;
                border-radius: 12px;

                //TODO: fix
                &:hover {
                  background-color: $grey_b1;
                }
              }
              .quantity {
                display: inline-block;
                // background-color: $grey_f2;
              }
            }
          }
        }

        .summary-section {
          display: flex;
          justify-content: space-between;
        }
        .make-order {
          @include text2;

          background-color: $orange_ff7;
          color: $white_ff;
          border: none;
          line-height: 16px;
          text-align: center;
          padding: 12px 0;
          margin: 24px 0 8px;
          width: 100%;
          border-radius: 12px;

          &:hover {
            background-color: $orange_f86;
          }
        }

        .free-delivery-section {
          img {
            margin-right: 8px;
          }
        }
      }

      .not-cart {
        .food-cards {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          gap: 30px;

          .food-card {
            padding: 12px;
            background-color: $white_ff;
            border-radius: 18px;

            img {
              width: 275px;
              height: 220px;
            }
            .price {
              font-size: 24px;
              font-weight: 600;
              line-height: 24px;
              text-align: left;
              margin: 16px 0 8px;
            }
            .description {
              @include text2;

              line-height: 22px;
              text-align: left;
            }
            .weight {
              font-size: 16px;
              font-weight: 600;
              line-height: 22px;
              text-align: left;
              color: $grey_b1;
              margin: 29px 0 8px;
            }
            button {
              background-color: $grey_f2;
              border: none;
              border-radius: 12px;
              padding: 12px 0;
              width: 100%;

              &:hover {
                color: $white_ff;
                background-color: $orange_f86;
              }
            }
          }
        }
      }
    }
  }

  footer {
    padding: 51px 211px 34px 75px;
    background-color: $white_ff;

    .sections {
      display: flex;
      flex-direction: row;

      .logo {
        flex: 2;
        width: 300px;
        height: 60px;
        color: $orange_ff7;
      }
      .phone {
        flex: 1;

        .label {
          margin-bottom: 24px;
        }

        .value {
          display: flex;
          align-items: center;
        }
      }
      .social-media {
        flex: 1;

        .label {
          margin-bottom: 24px;
        }
      }
    }
    .copyright {
      margin-top: 44px;
    }
  }
}
