.d-none {
  display: none;
}

body {
  margin: 0;
  background-color: #f9f9f9;
}
body header {
  background-image: url("data:image/svg+xml,%3Csvg id='header' width='200' height='200' viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg' %3E%3Ccircle cx='100' cy='100' r='100' fill='%23FFAB08' /%3E%3C/svg%3E");
  background-size: 610px 610px;
  background-position: bottom;
  background-repeat: no-repeat;
  padding-bottom: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 500px) {
  body header {
    background-size: 1000px 1000px;
    padding-bottom: 44px;
  }
}
@media (min-width: 768px) {
  body header {
    background-size: 2540px 2540px;
    padding-bottom: 44px;
  }
}
@media (min-width: 1024px) {
  body header {
    padding-bottom: 63px;
  }
}
body header .logo {
  width: 150px;
  height: 30px;
  color: #ffffff;
  margin: 24px 0;
}
body header .not-logo {
  display: flex;
  flex-direction: column-reverse;
}
@media (min-width: 768px) {
  body header .not-logo {
    flex-direction: row;
  }
}
body header .not-logo img {
  width: 230px;
  height: 230px;
}
@media (min-width: 1024px) {
  body header .not-logo img {
    width: 326px;
    height: 326px;
  }
}
@media (min-width: 768px) {
  body header .not-logo .info {
    margin-top: 27px;
    text-align: left;
  }
}
body header .not-logo .info .creed {
  font-weight: 800;
  font-size: 30px;
  line-height: 36px;
}
@media (min-width: 768px) {
  body header .not-logo .info .creed {
    font-size: 36px;
    line-height: 43px;
  }
}
@media (min-width: 1024px) {
  body header .not-logo .info .creed {
    font-size: 50px;
    line-height: 60px;
  }
}
body header .not-logo .info .creed.creed1 {
  color: #ffffff;
}
body header .not-logo .info .creed.creed2 {
  color: #ff7020;
}
body header .not-logo .info .discount {
  color: #ffffff;
  font-size: 12px;
  line-height: 16px;
  margin-top: 16px;
  margin-bottom: 19px;
}
@media (min-width: 768px) {
  body header .not-logo .info .discount {
    margin-top: 26px;
  }
}
@media (min-width: 1024px) {
  body header .not-logo .info .discount {
    font-size: 16px;
    line-height: 22px;
    margin-top: 52px;
  }
}
body main .categories {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 24px;
       column-gap: 24px;
  row-gap: 10px;
  margin: 40px 75px;
  flex-wrap: wrap;
  justify-content: center;
}
body main .categories span {
  font-size: 16px;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: 22px;
  text-align: left;
  background-color: #ffffff;
  padding: 9px 14px;
  border-radius: 50px;
  white-space: nowrap;
}
body main .categories span:hover {
  background-color: #ffab08;
}
body main .categories span img {
  margin-right: 8px;
}
body main .active-category-title {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  text-align: left;
}
body main .main-section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 30px;
  margin: 0 75px 100px;
}
body main .main-section .cart {
  min-width: max(300px, 20%);
  margin-top: 48px;
  padding: 16px;
  background-color: #ffffff;
  border-radius: 18px;
}
body main .main-section .cart .top-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #f2f2f3;
  padding-bottom: 12px;
}
body main .main-section .cart .top-section .title {
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
}
body main .main-section .cart .top-section .quantity {
  padding: 2px 16px;
  background-color: #f2f2f3;
  border-radius: 6px;
}
body main .main-section .cart .items-section {
  margin-bottom: 16px;
}
body main .main-section .cart .items-section .item {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  padding: 16px 0;
  border-bottom: 1px solid #f2f2f3;
}
body main .main-section .cart .items-section .item img {
  width: 64px;
  height: 50px;
}
body main .main-section .cart .items-section .item .description {
  flex-grow: 1;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
}
body main .main-section .cart .items-section .item .description .weight {
  color: #b1b1b1;
}
body main .main-section .cart .items-section .item .description .price {
  text-align: left;
}
body main .main-section .cart .items-section .item .counter {
  border-radius: 12px;
  background-color: #f2f2f3;
  white-space: nowrap;
}
body main .main-section .cart .items-section .item .counter .control {
  padding: 9px 12px;
  background-color: #f2f2f3;
  display: inline-block;
  border-radius: 12px;
}
body main .main-section .cart .items-section .item .counter .control:hover {
  background-color: #b1b1b1;
}
body main .main-section .cart .items-section .item .counter .quantity {
  display: inline-block;
}
body main .main-section .cart .summary-section {
  display: flex;
  justify-content: space-between;
}
body main .main-section .cart .make-order {
  font-size: 16px;
  font-weight: 400;
  background-color: #ff7020;
  color: #ffffff;
  border: none;
  line-height: 16px;
  text-align: center;
  padding: 12px 0;
  margin: 24px 0 8px;
  width: 100%;
  border-radius: 12px;
}
body main .main-section .cart .make-order:hover {
  background-color: #f86310;
}
body main .main-section .cart .free-delivery-section img {
  margin-right: 8px;
}
body main .main-section .not-cart .food-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}
body main .main-section .not-cart .food-cards .food-card {
  padding: 12px;
  background-color: #ffffff;
  border-radius: 18px;
}
body main .main-section .not-cart .food-cards .food-card img {
  width: 275px;
  height: 220px;
}
body main .main-section .not-cart .food-cards .food-card .price {
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  margin: 16px 0 8px;
}
body main .main-section .not-cart .food-cards .food-card .description {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
}
body main .main-section .not-cart .food-cards .food-card .weight {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  text-align: left;
  color: #b1b1b1;
  margin: 29px 0 8px;
}
body main .main-section .not-cart .food-cards .food-card button {
  background-color: #f2f2f3;
  border: none;
  border-radius: 12px;
  padding: 12px 0;
  width: 100%;
}
body main .main-section .not-cart .food-cards .food-card button:hover {
  color: #ffffff;
  background-color: #f86310;
}
body footer {
  padding: 51px 211px 34px 75px;
  background-color: #ffffff;
}
body footer .sections {
  display: flex;
  flex-direction: row;
}
body footer .sections .logo {
  flex: 2;
  width: 300px;
  height: 60px;
  color: #ff7020;
}
body footer .sections .phone {
  flex: 1;
}
body footer .sections .phone .label {
  margin-bottom: 24px;
}
body footer .sections .phone .value {
  display: flex;
  align-items: center;
}
body footer .sections .social-media {
  flex: 1;
}
body footer .sections .social-media .label {
  margin-bottom: 24px;
}
body footer .copyright {
  margin-top: 44px;
}/*# sourceMappingURL=styles.css.map */