$orange_ffa: #ffab08;
$orange_ff7: #ff7020;
$orange_f86: #f86310;

$white_ff: #ffffff;
$white_f9: #f9f9f9;
$grey_b1: #b1b1b1;
$grey_f2: #f2f2f3;

@mixin text1 {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
}

@mixin text2 {  
  font-size: 16px;
  font-weight: 400;
}

body {
  margin: 0;
  background-color: $white_f9;
  font-family: "Roboto Slab", serif;

  header {
    background-color: $orange_ffa;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 70px;
    border-radius: 0 0 50% 50%;

    .not-logo {
      display: flex;

      .info {
        display: flex;
        flex-direction: column;
        padding: 46px 0;
        justify-content: space-between;

        .creed {
          div {
            font-size: 50px;
            font-weight: 800;
            line-height: 60px;
            text-align: left;

            &:first-child {
              color: $white_ff;
            }
            &:last-child {
              color: $orange_ff7;
            }
          }
        }
        .discount {
          color: $white_ff;
        }
      }
    }
  }

  main {
    .categories {
      display: flex;
      flex-direction: row;
      column-gap: 24px;
      row-gap: 10px;
      margin: 40px 75px;
      flex-wrap: wrap;
      justify-content: center;

      span {
        @include text2;

        display: flex;
        flex-direction: row;
        align-items: center;
        line-height: 22px;
        text-align: left;
        background-color: $white_ff;
        padding: 9px 14px;
        border-radius: 50px;
        white-space: nowrap;

        &:hover {
          background-color: $orange_ffa;
        }

        img {
          margin-right: 8px;
        }
      }
    }

    .active-category-title {
      font-size: 40px;
      font-weight: 600;
      line-height: 48px;
      text-align: left;
    }

    .main-section {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      gap: 30px;
      margin: 0 75px 100px;

      .cart {
        min-width: max(300px, 20%);
        margin-top: 48px;
        padding: 16px;
        background-color: $white_ff;
        border-radius: 18px;

        .top-section {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          border-bottom: 1px solid $grey_f2;
          padding-bottom: 12px;

          .title {
            font-size: 24px;
            font-weight: 600;
            line-height: 24px;
            text-align: left;
          }
          .quantity {
            padding: 2px 16px;
            background-color: $grey_f2;
            border-radius: 6px;
          }
        }

        .items-section {
          margin-bottom: 16px;

          .item {
            display: flex;
            flex-direction: row;
            gap: 6px;
            align-items: center;
            padding: 16px 0;
            border-bottom: 1px solid $grey_f2;

            img {
              width: 64px;
              height: 50px;
            }

            .description {
              flex-grow: 1;
              @include text1;

              .weight {
                color: $grey_b1;
              }
              .price {
                text-align: left;
              }
            }
            .counter {
              border-radius: 12px;
              background-color: $grey_f2;
              white-space: nowrap;

              .control {
                padding: 9px 12px;
                background-color: $grey_f2;
                display: inline-block;
                border-radius: 12px;

                //TODO: fix
                &:hover {
                  background-color: $grey_b1;
                }
              }
              .quantity {
                display: inline-block;
                // background-color: $grey_f2;
              }
            }
          }
        }

        .summary-section {
          display: flex;
          justify-content: space-between;
        }
        .make-order {
        @include text2;
        
          background-color: $orange_ff7;
          color: $white_ff;
          border: none;
          line-height: 16px;
          text-align: center;
          padding: 12px 0;
          margin: 24px 0 8px;
          width: 100%;
          border-radius: 12px;

          &:hover {
            background-color: $orange_f86;
          }
        }

        .free-delivery-section {
          img {
            margin-right: 8px;
          }
        }
      }

      .not-cart {
        .food-cards {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          gap: 30px;

          .food-card {
            padding: 12px;
            background-color: $white_ff;
            border-radius: 18px;

            img {
              width: 275px;
              height: 220px;
            }
            .price {
              font-size: 24px;
              font-weight: 600;
              line-height: 24px;
              text-align: left;
              margin: 16px 0 8px;
            }
            .description {
              @include text2;
              
              line-height: 22px;
              text-align: left;
            }
            .weight {
              font-size: 16px;
              font-weight: 600;
              line-height: 22px;
              text-align: left;
              color: $grey_b1;
              margin: 29px 0 8px;
            }
            button {
              background-color: $grey_f2;
              border: none;
              border-radius: 12px;
              padding: 12px 0;
              width: 100%;

              &:hover {
                color: $white_ff;
                background-color: $orange_f86;
              }
            }
          }
        }
      }
    }
  }

  footer {
    padding: 51px 211px 34px 75px;
    background-color: $white_ff;

    .sections {
      display: flex;
      flex-direction: row;

      .logo {
        flex: 2;
        display: flex;
        align-items: center;
      }
      .phone {
        flex: 1;

        .label {
          margin-bottom: 24px;
        }

        .value {
          display: flex;
          align-items: center;
        }
      }
      .social-media {
        flex: 1;

        .label {
          margin-bottom: 24px;
        }
      }
    }
    .copyright {
      margin-top: 44px;
    }
  }
}
